@import "_mixins";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    @include center-content();
    flex-direction: column;
    height: 100vh;

    font-family: "Quicksand", sans-serif;
    @include font-smoothing();
    color: #333;
    user-select: none;

    --player-color-main: #e91e63;
}


button {
    font: inherit;
    color: inherit;
}



/** Utility classes. **/

.hidden {
    display: none !important;
}



/** Song information styles. **/

.song-thumbnail {
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    background: var(--player-color-main) center center;
    background-size: cover;
}



/** Player controls styles. **/

.controls {
    font-size: 0;
}


.control {
    width: 10vw;
    height: 10vw;
    border: none;
    margin: 0 3vw;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.control:hover {
    background-color: var(--player-color-main);
}


.control path {
    fill: var(--player-color-main);
}

.control:hover path {
    fill: #fff;
}



/** Visualization styles. **/

.visualization {
    @include center-content;
    width: 90vw;
    height: 90vw;
    margin: 2vh 0;
    position: relative;
}


.visualization canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
