@import "_mixins";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    @include center-content();
    flex-direction: column;
    height: 100vh;

    font-family: "Quicksand", "QuicksandRegular", sans-serif;
    @include font-smoothing();
    color: #333;
    user-select: none;

    --player-color-main: #e91e63;
}


button {
    font: inherit;
    color: inherit;
}



/** Utility classes. **/

.hidden {
    display: none !important;
}



/** Song information styles. **/

.song-title,
.song-artist {
    max-width: 80vw;
    @include ellipsis;
}


.song-artist {
    margin-top: 0.5vh;
    color: #777;
}


.song-thumbnail {
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
}



/** Player controls styles. **/

.controls {
    font-size: 0;
    margin-bottom: -7vw;
}


.control {
    width: 10vw;
    height: 10vw;
    border: none;
    margin: 0 3vw;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.control:hover {
    background-color: var(--player-color-main);
}


.control path {
    fill: var(--player-color-main);
}

.control:hover path {
    fill: #fff;
}



/** Visualization styles. **/

.visualization {
    @include center-content;
    width: 90vw;
    height: 90vw;
    margin: 1.5vh 0;
    position: relative;
}


.visualization canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}


.visualization svg {
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: calc(50% - 22.5vw);
    left: calc(50% - 22.5vw);
}



/** Playback progress styles. **/

.seekbar-track,
.seekbar-progress {
    stroke: var(--player-color-main);
    stroke-width: 1;
    stroke-linecap: round;
    fill: none;
}


.seekbar-track {
    opacity: 0.2;
    stroke-dasharray: 1 3;
}


.seekbar-progress {
    stroke-width: 1;
}


.seekbar-click-region {
    stroke: black;
    stroke-width: 7;
    fill: none;
    opacity: 0;
    cursor: pointer;
}


.time-progress {
    @include center-content;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: calc(50% - 10vw);
    left: calc(50% - 10vw);
    font-family: monospace;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--player-color-main);
}
