*
*::before
*::after
    margin 0
    padding 0
    box-sizing border-box


html
    font-size 62.5%


body
    user-select none


ul
    list-style none


#player-display
    display flex
    flex-direction column
    height 100vh
    overflow hidden
