large-button-ratio = 0.6


#player-controls
    display flex
    justify-content center
    align-items center
    padding 5vh


    button
        display block
        width 3vw
        border none
        margin 0 0.75vw
        border-radius 50%
        background #e91e63 center center no-repeat
        background-size 70%
        appearance none
        cursor pointer
        outline none
        transform scale(1)
        transition transform 0.15s ease-in-out

        &::before
            content ""
            display block
            padding-top 100%

        &:hover
        &:focus
            transform scale(1.1)

        &:active
            transform scale(0.8)


        &[data-action="play"]
        &[data-action="pause"]
            width "calc(3vw / %d)" % large-button-ratio

        &[data-action="play"]
            background-image url("../images/play.svg")

        &[data-action="pause"]
            background-image url("../images/pause.svg")

        &[data-action="previous"]
            background-image url("../images/previous.svg")

        &[data-action="next"]
            background-image url("../images/next.svg")


@media screen and (max-width 1000px)
    #player-controls button
        width 4vw

        &[data-action="play"]
        &[data-action="pause"]
            width "calc(4vw / %d)" % large-button-ratio


@media screen and (max-width 800px)
    #player-controls button
        width 5vw

        &[data-action="play"]
        &[data-action="pause"]
            width "calc(5vw / %d)" % large-button-ratio


@media screen and (max-width 600px)
    #player-controls button
        width 6vw

        &[data-action="play"]
        &[data-action="pause"]
            width "calc(6vw / %d)" % large-button-ratio


@media screen and (max-width 500px)
    #player-controls button
        width 8vw

        &[data-action="play"]
        &[data-action="pause"]
            width "calc(8vw / %d)" % large-button-ratio
