.component-header {
    position: relative;
    padding: 15px 0;
}


.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: center center no-repeat;
    background-size: contain;
}

.icon.directory {
    background-image: url("../images/folder.svg");
}

.icon.mp3 {
    background-image: url("../images/music.svg");
}


.menu-list {
    list-style: none;
}


.menu-list__item {
    display: block;
    font: normal 1.4rem/1 "Open Sans", "OpenSans", "Helvetica", "Arial", sans-serif;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
}

.menu-list__item:hover,
.menu-list__item.menu-list__item--selected {
    color: #941242;
    background-color: white;
}


.menu-list__item .icon {
    float: left;
    margin-right: 7px;
}


.menu-list__item--null {
    display: block;
    font: normal 1.4rem/1 "Open Sans", "OpenSans", "Helvetica", "Arial", sans-serif;
    text-align: center;
    color: #bbb;
    padding: 10px 25px;
}