.component-header {
    position: relative;
    padding: 15px 0;
}


.component-header .close-button {
    float: right;
    margin-top: 2px;
}


.close-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    font: bold 1.4rem/16px "Open Sans", "OpenSans", "Helvetica", "Arial", sans-serif;
    text-align: center;
    color: #3e071b;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms ease;
}

.close-button::before {
    content: "\00d7";
}

.close-button:hover {
    background-color: #7d0f38;
}


.menu-list {
    list-style: none;
}


.menu-list__item {
    display: block;
    font: normal 1.4rem/1 "Open Sans", "OpenSans", "Helvetica", "Arial", sans-serif;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    transition: padding-left 180ms cubic-bezier(0.74, 0.06, 0.36, 1.68);
}

.menu-list__item:hover,
.menu-list__item.menu-list__item--selected {
    color: #941242;
    background-color: white;
    padding-left: 30px;
}


.slider-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #941242;
    -webkit-clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    transition: top 450ms cubic-bezier(0.77, -0.5, 0.19, 1.6);
}

.slider-menu.slider-menu--opened {
    top: 50%;
}


.slider-menu__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #3e071b;
}


.slider-menu .component-header {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}


.slider-menu .menu-list {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}