doctype html
html
    head
        meta(charset="utf-8")
        title vplayer - a music player
        link(rel="stylesheet", href="stylesheets/base.css")
        link(rel="stylesheet", href="stylesheets/controls.css")
        link(rel="stylesheet", href="stylesheets/visualization.css")
        
    body
        aside#playlist
        
        main#player-display
            section#visualization-container
                .visualization
                    .visualization-content
            
            ul#player-controls
                li: button(data-action="previous")
                li: button(data-action="play")
                li: button(data-action="next")
