<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Music Player</title>

        <link rel="stylesheet" href="stylesheets/fonts.css">
        <link rel="stylesheet" href="stylesheets/music-player.css">
    </head>

    <body>
        <h1 class="song-title">Hall Of Fame</h1>
        <h2 class="song-artist">The Script</h2>

        <section class="visualization">
            <div class="song-thumbnail"></div>

            <canvas id="visualization"></canvas>
        </section>

        <div class="controls">
            <button class="control" data-action="previous">{% include 'images/previous.svg' %}</button>
            <button class="control" data-action="play">{% include 'images/play.svg' %}</button>
            <button class="control hidden" data-action="pause">{% include 'images/pause.svg' %}</button>
            <button class="control" data-action="next">{% include 'images/next.svg' %}</button>
        </div>

        <script src="javascripts/music-player.js"></script>
    </body>
</html>
