<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Music Player</title>

        <link rel="stylesheet" href="stylesheets/fonts.css">
        <link rel="stylesheet" href="stylesheets/music-player.css">
    </head>

    <body>
        <h1 class="song-title">&nbsp;</h1>
        <h2 class="song-artist">&nbsp;</h2>

        <section class="visualization">
            <div class="song-thumbnail"></div>

            <canvas id="visualization"></canvas>

            <svg viewBox="0 0 100 100">
                <path d="M 49.179736897447675 3.0071583276496128 A 47 47 0 1 0 50.82026310255232 3.0071583276496128" class="seekbar-track"></path>
                <path d="M 49.179736897447675 3.0071583276496128 A 47 47 0 1 0 50.82026310255232 3.0071583276496128" class="seekbar-progress"></path>
                <path d="M 49.179736897447675 3.0071583276496128 A 47 47 0 1 0 50.82026310255232 3.0071583276496128" class="seekbar-click-region"></path>
            </svg>
            <time class="time-progress">00:00</time>
        </section>

        <div class="controls">
            <button class="control" data-action="previous">{% include 'images/previous.svg' %}</button>
            <button class="control" data-action="play">{% include 'images/play.svg' %}</button>
            <button class="control hidden" data-action="pause">{% include 'images/pause.svg' %}</button>
            <button class="control" data-action="next">{% include 'images/next.svg' %}</button>
        </div>

        <p class="loader">Loading Audio Files</p>

        <script src="javascripts/music-player.js"></script>
    </body>
</html>
